.landing-content-container{
    height: 100vh;
    width: 100vw;
    padding: 20%;
    flex-direction: column;
}

.all-to-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-main-logo{
    height: 12rem;
}

.landing-dot{
    padding: 0.4rem;
    transition: all 0.2s;
}

.landing-dot-container{
    margin-top: 3rem;
}