

.startRecordingButton{
    margin-left: 0.4rem;
    width: 3rem;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 20px 0.1px rgba(0,0,0,0.5);
    border-radius: 3rem;
    z-index: 999;
}


.tracingMenuBar{
    position: fixed;
    bottom: 14%;
    left: 3%;
    height: 3.5rem;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.6);
    z-index: 999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* transition: all 2s; */
}

.recordTitle{
    color: white;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.recordTimeInfo{
    color:white;
    font-Size:1.1rem;
    margin: 0;
    margin-left: 0.5rem;
}


.allToCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}