.leaflet-container{
    height: 100vh;
    width: 100vw;
}

.my-position-marker{
    color:red;
}


.leaflet-control-zoom-out{
    position: fixed;
    right: 5%;
    bottom: 44%;
    background-color: #fcfcfc!important;
    border-radius: 0.3rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.leaflet-control-zoom-in{
    position: fixed;
    right: 5%;
    bottom: 50%;
    background-color: #ffffff!important;
    border-radius: 0.3rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.leaflet-control-container{
    position: fixed;
    top:10%;
    right: 5%;
    z-index: 500;
    width: 90%;
}

.leaflet-control-geosearch{
    height: 3.5rem;
    transition: all 1s;
    /* display: none; */
}

.leaflet-control-attribution.leaflet-control {
    display: none;
}

.map-toggle-menu-button{
    position: fixed;
    top: 30%;
    right: 10%;
    z-index: 1000;
}

.map-label-sliding ion-item{
    line-height: 4vh;
}


ion-menu{
    --max-width:50vw;
}

ion-menu ion-header{
    max-width:50vw;
}

ion-menu ion-content{
    max-width:50vw;
}