* {
  font-family: Microsoft JhengHei;
}
.trail-row {
  padding: 15px 15px 0px 15px;
}
.trail-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.district-card {
  margin: 0px 0 10px 0;
  border-radius: 0;
  position: relative;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}
.district-photo-card {
  border-radius: 15px;
  padding: 0;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.district-btn {
  height: 19vh;
  margin: 0;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
  /* position: -webkit-sticky;
  position: sticky;
  top: 0%; */
}
.trailCard {
  box-shadow: 0 4px 1px rgb(0, 0, 0, 0.5);
}
.trail-btn {
  margin: 18px 6px;
  border-radius: 10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}
.star {
  display: flex;
}
.transportation {
  white-space: pre-wrap !important;
  padding: 10px 0;
}
.description {
  white-space: pre-line;
  line-height: 1.5rem;
  overflow: hidden;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.scenery {
  font-size: 1.25rem;
}
.difficulty {
  font-size: 1.25rem;
}
.detailBtn {
  margin-top: 18px;
  height: 3rem;
}

.mountain-detail-go-back{
  color: white !important;
  background-color: rgb(255, 255, 255);
  border-radius: 0.2rem;

}