

.profile-header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 22vh;
    color: #717E60;
}

.left-icon-container{
    width: 45vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-info-container{
    width: 55vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:2rem;
}

.profile-setting-btn{
    height: 2em;
    width: 2em;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 1em;
    position: absolute;
    right:2rem;
    top:-0.9rem;
}

.profile-tab-segment{
    color:black !important;
    height: 5vh;
}

.segment-tab-container{
    width: 100vw;
    min-height: 60vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-segment-button{
    --indicator-box-shadow: transparent!important;
    border-radius: 2.5rem !important;
    margin: 0;
    color: #0f0f0f;
}
ion-segment-button .indicator{
    background-color: transparent !important;
}

.profile-tab-fixed-head{
    position: sticky;
    top:0;
    z-index: 10;
    background-color: white;
}
