// ion-content {
//   --background: transparent !important;

//   background-color: rgba(0, 0, 0, 0.6);
// }

.modal-class {
    --background:transparent;
    background-color: rgba(0,0,0,0.5);
}


.modal-image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  object-fit: cover;
  background-color: transparent !important;
}
