.custom-marker-pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #2bd6ac;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* // to draw white circle */
  .custom-marker-pin::after {
      content: '';
      width: 24px;
      height: 24px;
      /* margin: 3px 0 0 3px; */
      background: #fff;
      position: relative;
      border-radius: 50%;
   }
  
  /* // to align icon */
  .custom-marker-icon .custom-material-icons{
    height: 19px;
    width: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
     position: absolute;
     transform: rotate(+45deg);
  }

.defaultLikeList{
    background-color: white;
    border-radius: 1rem;
}

.inLikeOrDisLikeList{
    background-color: rgb(127, 169, 247);
    border-radius: 1rem;
    /* transition: all 0.5s; */
}

