.mountain-map-label-popup{
    height: auto;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leaflet-popup-content-wrapper{
    background-color: #94D1AF;
}