

.preview-trail-record-map-container .leaflet-control-attribution.leaflet-control {
    display: none;
}

.trail-record-card-view-icon{
    height: 100%;
    width: 17vw;
    background-color: #709E84;
    display: flex !important;
    color: white !important;
    font-size: 2rem !important;
    margin: 0;
    /* margin-right: 0.5rem; */
    align-items: center;
    justify-content: center;
}
.trail-record-card-view-icon:active{
    background-color: #456653;
}



ion-item {
    --padding-start: 7px;
    --padding-end: 0px;
    --inner-padding-start: 7px;
    --inner-padding-end: 0px;
  }