.swiper-container{
    width: 70vw;

}

.swiper-wrapper{
    padding-inline-start: 0;
    object-fit: cover;
    /* display: flex;
    justify-content: center;
    align-items: center;  */
    
}

.swiper-pagination{
    bottom: 0;
    padding: 3%;
}

.swiper-scrollbar{
    bottom: -10px;
}

.slider-card-image-container{
    width: 80vw;
    height: 30vh;
    object-fit: cover;
}

.scroll-card-container{
    height: 16vh;
    object-fit: cover;
}

.swiper-scrollbar-drag {
    background: white !important;
}

span.swiper-pagination-bullet {
    background: springgreen;
}

.swiper-3d .swiper-slide-shadow {
    background: 0;
}