.weather-container {
  position: relative;
  height: 13vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #709e84;
  border-radius: 0;
  margin-top: 0;
  border: 0;
}

.weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-data {
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  font-weight: bolder;
}

.weather-png-icon {
  height: 1.5rem;
}

.last-update-time {
  position: absolute;
  font-size: smaller;
  left: 67%;
  bottom: 0;
}
