.trip-tail-icon{
    margin-top: 2.5rem;
    height:25vw;
    width: 25vw;
}

.login-page-container{
    height: 90%;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-segment-container{
    margin-top: 1em;
    height: 60%;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.segment-selector{
    position: fixed;
    top:13%
}